<div class="form-box">
  <h1>Login Here</h1>
  <div class="input-box">
    <i class="fa fa-envelope"></i>
    <input type="email" placeholder="Email" />
  </div>
  <div class="input-box">
    <i class="fa fa-key"></i>
    <input type="password" placeholder="Password" id="password" />
    <span class="eye" onclick="showPassword()">
      <i id="hidePsw" class="fa-solid fa-eye"></i>
      <i id="showPsw" class="fa-solid fa-eye-slash"></i>
    </span>
  </div>
  <button type="button" class="login-btn"> Login Now</button>
  <p class="login-msg">
    New User?
    <a href="./register.handlebars">Register Now</a>
  </p>
</div>