<div class="form-box">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="/css/login.css" />

  <h1 class="heading">Register Now!</h1>
  
  <form class="signup-box" id="register-form">
    <ul class="alert list-unstyled alert-danger d-none" id="reg-errors"></ul>

    <div class="input-box">
      <i class="fa-solid fa-user"></i>
      <input type="text" id="username" placeholder="Your Name" />
    </div>
    <div class="input-box">
      <i class="fa fa-envelope"></i>
      <input type="email" id="email" placeholder="Your Email" />
    </div>
    <div class="input-box">
      <i class="fa fa-key"></i>
      <input type="password" placeholder="Password" id="password" />
    </div>
    <div class="input-box">
      <i class="fa fa-key"></i>
      <input
        type="password"
        placeholder="Confirm Your Password"
        id="password-confirmation"
      />
    </div>
    <p id="message" class="login-msg mx-auto">Password is
      <span id="strength"></span></p>
      <input type="checkbox" id="terms" />
        <label for="terms">I accept the terms & conditions</label>
    <button type="submit" class="login-btn"> Register Now</button>
  </form>
  <p class="login-msg mx-auto">
    Already have an account?
    <a href="/login">Login Now</a>
  </p>

  <script src="../js/register.js"></script>

</div>