<div class="container">
  <h1>Create an account</h1>
  <div class="signup-box">
    <div class="box">
      <form>
        <input type="text" placeholder="Your Name" required class="input-box" />
        <input
          type="email"
          id="email"
          placeholder="Your email "
          required
          class="input-box"
        />
        <input
          type="password"
          id="password"
          placeholder="Create Password"
          required
          class="input-box"
        />
        <p id="message">Password is <span id="strenght"></span></p>
        <input type="checkbox" id="terms" />
        <label for="terms">I accept the terms & conditions</label>
        <button type="submit">Sign Up <span>&#x27f6;</span></button>
      </form>
      <p class="login-msg">
        Already have an account?
        <a href="../views/login.handlebars">Login Now</a>
      </p>

    </div>
  </div>

</div>