h2 {
  text-align: center;
}

li {
  font-size: 20px;
  color: black;
}

ul {
  cursor: pointer;
  overflow: auto;
  height:auto;
  max-height:600px;
}

button {
  min-height:100px;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
}